<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>{{ page_title|default('Blog Grid') }} – HelpMeBalance</title>
    <link rel="shortcut icon" href="{{ asset('assets/images/site_logo/favourite_icon.svg') }}" />

    <!-- Framework - CSS Include -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/fontawesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/animate.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/cursor.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/slick.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/slick-theme.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/magnific-popup.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/odometer.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}" />
  </head>

  <body>
    <div class="page_wrapper">
      <div class="backtotop">
        <a href="#" class="scroll">
          <i class="fa-solid fa-arrow-up"></i>
        </a>
      </div>

      <header class="site_header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-3 col-5">
              <div class="site_logo">
                <a class="site_link" href="{{ path('home') }}">
                  <img src="{{ asset('assets/images/site_logo/site_logo_primary.svg') }}" alt="Site Logo – HelpMeBalance" />
                </a>
              </div>
            </div>
            <div class="col-lg-6 col-2">
              <nav class="main_menu navbar navbar-expand-lg">
                <div class="main_menu_inner collapse navbar-collapse justify-content-center" id="main_menu_dropdown">
                  <ul class="main_menu_list unordered_list">
                    <li class="{{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}">
                      <a class="nav-link" href="{{ path('home') }}">Home</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'about' ? 'active' : '' }}">
                      <a class="nav-link" href="{{ path('about') }}">About</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'shop' ? 'active' : '' }}">
                      <a class="nav-link" href="{{ path('shop') }}">Shop</a>
                    </li>
                    <li class="dropdown {{ app.request.attributes.get('_route') starts with 'service_' ? 'active' : '' }}">
                      <a class="nav-link" href="#" id="programs_submenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Programs
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="programs_submenu">
                        <li><a href="{{ path('services') }}">Our Services</a></li>
                        <li><a href="{{ path('service_depression') }}">Depression Therapy</a></li>
                        <li><a href="{{ path('service_relationships') }}">Relationships</a></li>
                      </ul>
                    </li>
                    <li class="dropdown {{ app.request.attributes.get('_route') starts with 'team' or 'gallery' or 'blog_' or 'faq' or 'error' ? 'active' : '' }}">
                      <a class="nav-link" href="#" id="help_submenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Help
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="help_submenu">
                        <li><a href="{{ path('team') }}">Our Team</a></li>
                        <li><a href="{{ path('gallery') }}">Our Gallery</a></li>
                        <li class="dropdown active">
                          <a class="nav-link" href="#" id="blog_submenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Blogs
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="blog_submenu">
                            <li class="{{ app.request.attributes.get('_route') == 'blog_grid' ? 'active' : '' }}"><a href="{{ path('blog_grid') }}">Blog Grid</a></li>
                            <li><a href="{{ path('blog_list') }}">Blog Listing</a></li>
                            <li><a href="{{ path('blog_details') }}">Blog Details</a></li>
                          </ul>
                        </li>
                        <li><a href="{{ path('faq') }}">F.A.Q.</a></li>
                        <li><a href="{{ path('error') }}">404 Error</a></li>
                      </ul>
                    </li>
                    <li class="dropdown {{ app.request.attributes.get('_route') starts with 'contact_' ? 'active' : '' }}">
                      <a class="nav-link" href="#" id="contact_submenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Contact
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="contact_submenu">
                        <li><a class="nav-link" href="{{ path('contact_clinic') }}">Clinic Contacts</a></li>
                        <li><a class="nav-link" href="{{ path('contact_info') }}">Contact Information</a></li>
                        <li><a class="nav-link" href="{{ path('contact_details') }}">Contact Details</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="col-lg-3 col-5">
              <ul class="header_btns_group unordered_list justify-content-end">
                <li>
                  <button class="mobile_menu_btn" type="button" data-bs-toggle="collapse" data-bs-target="#main_menu_dropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="far fa-bars"></i>
                  </button>
                </li>
                <li>
                  <a class="btn btn-primary" href="{{ path('login') }}">
                    <span class="btn_text" data-text="Get A Consultation">Get A Consultation</span>
                    <span class="btn_icon"><i class="fa-solid fa-arrow-up-right"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <main class="page_content">
        <section class="page_banner decoration_wrapper">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h1 class="page_title mb-0">{{ blog_page_title|default('Blog Grid') }}</h1>
              </div>
              <div class="col-lg-6">
                <ul class="breadcrumb_nav unordered_list justify-content-md-end justify-content-center">
                  <li><a href="{{ path('home') }}">Home</a></li>
                  <li>{{ blog_breadcrumb|default('Blog Grid') }}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="decoration_item shape_leaf_1">
            <img src="{{ asset('assets/images/shapes/shape_leaf_left.svg') }}" alt="Shape Leaf - Talking Minds" />
          </div>
          <div class="decoration_item shape_leaf_2">
            <img src="{{ asset('assets/images/shapes/shape_leaf_right.svg') }}" alt="Shape Leaf - Talking Minds" />
          </div>
        </section>

        <section class="blog_section section_space_lg">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="row">
                  {% for post in blog_posts %}
                  <div class="col-md-6">
                    <div class="blog_item">
                      <div class="blog_image">
                        <a class="blog_image_wrap" href="{{ path('blog_details', {'id': post.id}) }}">
                          <img src="{{ asset(post.image|default('assets/images/blogs/blog_image_4-min.jpg')) }}" alt="{{ post.alt_text|default('Talking Minds - Blog Post') }}" />
                        </a>
                      </div>
                      <div class="blog_content">
                        <ul class="post_category unordered_list">
                          {% for category in post.categories|default(['Family Problem']) %}
                          <li><a href="{{ path('blog_category', {'category': category|lower|replace({' ': '-'}) }) }}">{{ category }}</a></li>
                          {% endfor %}
                        </ul>
                        <ul class="post_meta unordered_list">
                          <li>{{ post.date|date('d F Y')|default('26 July 2023') }}</li>
                          <li><a href="#!">{{ post.views|default('120') }} Views</a></li>
                          <li><a href="#!">{{ post.comments|default('1') }} Comments</a></li>
                        </ul>
                        <h3 class="item_title">
                          <a href="{{ path('blog_details', {'id': post.id}) }}">{{ post.title|default('A guide to maintaining a child\'s positive mental health') }}</a>
                        </h3>
                        <p>{{ post.excerpt|default('Lorem Ipsum is simply dummy text of the printing and typesetting industry.')|slice(0, 100) }}...</p>
                        <a class="btn-link" href="{{ path('blog_details', {'id': post.id}) }}">
                          <span class="btn_text">Read More</span>
                          <span class="btn_icon"><i class="fa-solid fa-arrow-up-right"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="pagination_wrap">
                  <ul class="pagination_nav unordered_list justify-content-center">
                    {% if current_page > 1 %}
                    <li><a href="{{ path('blog_grid', {'page': current_page - 1}) }}">&laquo;</a></li>
                    {% endif %}
                    {% for i in 1..total_pages %}
                    <li class="{{ current_page == i ? 'active' : '' }}"><a href="{{ path('blog_grid', {'page': i}) }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if current_page < total_pages %}
                    <li><a href="{{ path('blog_grid', {'page': current_page + 1}) }}">&raquo;</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>

              <div class="col-lg-4">
                <aside class="sidebar ps-lg-4">
                  <div class="form-group">
                    <form action="{{ path('blog_search') }}" method="get">
                      <input id="sidebar_search" class="form-control" type="search" name="search" placeholder="Search" value="{{ search_query|default('') }}" />
                      <button type="submit" class="input_icon">
                        <i class="fa-regular fa-magnifying-glass"></i>
                      </button>
                    </form>
                  </div>
                  <div class="sidebar_widget">
                    <h3 class="sidebar_widget_title">
                      <span class="title_icon">
                        <img src="{{ asset('assets/images/site_logo/favourite_icon.svg') }}" alt="Talking Minds" />
                      </span>
                      <span class="title_text">{{ categories_title|default('Categories') }}</span>
                    </h3>
                    <ul class="post_category_list unordered_list_block">
                      {% for category in categories|default([
                        {'name': 'Relationship', 'count': 12},
                        {'name': 'Family Problem', 'count': 23},
                        {'name': 'Couple Problem', 'count': 36},
                        {'name': 'Parenting', 'count': 16},
                        {'name': 'Depression', 'count': 17},
                        {'name': 'Business problems', 'count': 21}
                      ]) %}
                      <li>
                        <a href="{{ path('blog_category', {'category': category.name|lower|replace({' ': '-'}) }) }}">
                          <span class="category_name">{{ category.name }}</span>
                          <span class="category_counter">{{ category.count }}</span>
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="sidebar_widget">
                    <h3 class="sidebar_widget_title">
                      <span class="title_icon">
                        <img src="{{ asset('assets/images/site_logo/favourite_icon.svg') }}" alt="Talking Minds" />
                      </span>
                      <span class="title_text">{{ recommended_title|default('Recommended Articles') }}</span>
                    </h3>
                    <ul class="reecommended_post_group unordered_list_block">
                      {% for recommended in recommended_posts|default([
                        {'image': 'small_blog_image_1.jpg', 'title': 'The Importance of Parent Involvement', 'date': '26 July 2023', 'views': 120, 'comments': 1},
                        {'image': 'small_blog_image_2.jpg', 'title': 'Proven techniques to improve memory and remember more', 'date': '26 July 2023', 'views': 120, 'comments': 1},
                        {'image': 'small_blog_image_3.jpg', 'title': 'Establish healthy boundaries at work', 'date': '26 July 2023', 'views': 120, 'comments': 1}
                      ]) %}
                      <li>
                        <div class="blog_item_small">
                          <div class="blog_image">
                            <a class="blog_image_wrap" href="{{ path('blog_details', {'id': recommended.id|default('#') }) }}">
                              <img src="{{ asset('assets/images/blogs/' ~ recommended.image) }}" alt="Talking Minds" />
                            </a>
                          </div>
                          <div class="blog_content">
                            <h3 class="item_title">
                              <a href="{{ path('blog_details', {'id': recommended.id|default('#') }) }}">{{ recommended.title }}</a>
                            </h3>
                            <ul class="post_meta unordered_list">
                              <li>{{ recommended.date }}</li>
                              <li><a href="#!">{{ recommended.views }} Views</a></li>
                              <li><a href="#!">{{ recommended.comments }} Comments</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="sidebar_widget">
                    <h3 class="sidebar_widget_title">
                      <span class="title_icon">
                        <img src="{{ asset('assets/images/site_logo/favourite_icon.svg') }}" alt="Talking Minds" />
                      </span>
                      <span class="title_text">{{ tags_title|default('Popular Tags') }}</span>
                    </h3>
                    <ul class="post_tags unordered_list">
                      {% for tag in tags|default(['Family Problem', 'Therapy', 'Teenagers', 'Depression', 'Life Balance', 'Work', 'Couple Problem']) %}
                      <li><a href="{{ path('blog_tag', {'tag': tag|lower|replace({' ': '-'}) }) }}">{{ tag }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer class="site_footer bg_primary">
        <div class="container">
          <div class="site_footer_content">
            <div class="row align-items-center">
              <div class="col-lg-3">
                <div class="site_logo">
                  <a class="site_link" href="{{ path('home') }}">
                    <img src="{{ asset('assets/images/site_logo/site_logo_white.svg') }}" alt="Site Logo – HelpMeBalance" />
                  </a>
                </div>
              </div>
              <div class="col-lg-6">
                <ul class="info_list unordered_list justify-content-center">
                  <li><a href="{{ path('home') }}"><span class="info_icon"><i class="fa-solid fa-circle"></i></span><span class="info_text">Home</span></a></li>
                  <li><a href="{{ path('about') }}"><span class="info_icon"><i class="fa-solid fa-circle"></i></span><span class="info_text">About</span></a></li>
                  <li><a href="{{ path('services') }}"><span class="info_icon"><i class="fa-solid fa-circle"></i></span><span class="info_text">Program</span></a></li>
                  <li><a href="{{ path('blog_grid') }}"><span class="info_icon"><i class="fa-solid fa-circle"></i></span><span class="info_text">Blog</span></a></li>
                  <li><a href="{{ path('gallery') }}"><span class="info_icon"><i class="fa-solid fa-circle"></i></span><span class="info_text">Gallery</span></a></li>
                  <li><a href="{{ path('contact_clinic') }}"><span class="info_icon"><i class="fa-solid fa-circle"></i></span><span class="info_text">Contacts</span></a></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <ul class="social_links unordered_list justify-content-center justify-content-lg-end">
                  <li><a href="{{ social_links.facebook|default('#!') }}"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="{{ social_links.instagram|default('#!') }}"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="{{ social_links.twitter|default('#!') }}"><i class="fa-brands fa-twitter"></i></a></li>
                  <li><a href="{{ social_links.whatsapp|default('#!') }}"><i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="copyright_widget text-center">
            <p class="copyright_text m-0">
              Merkulove © <b>TalkingMinds</b> Template All rights reserved Copyrights {{ "now"|date("Y") }}
            </p>
          </div>
        </div>
      </footer>
    </div>

    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-dropdown-ml-hack.min.js') }}"></script>
    <script src="{{ asset('assets/js/cursor.min.js') }}"></script>
    <script src="{{ asset('assets/js/slick.min.js') }}"></script>
    <script src="{{ asset('assets/js/magnific-popup.min.js') }}"></script>
    <script src="{{ asset('assets/js/appear.min.js') }}"></script>
    <script src="{{ asset('assets/js/odometer.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
  </body>
</html>